TempHumidityFlow.json
[
    {
        "id": "1cdedf64f7c8196c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd94655532876e7a",
        "type": "Generic BLE out",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "genericBle": "22ee5c9e.9aa894",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae5e2892cf3f35bd",
        "type": "inject",
        "z": "1cdedf64f7c8196c",
        "name": "Connect Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "connect",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "bd94655532876e7a"
            ]
        ]
    },
    {
        "id": "24348f9acd8e9296",
        "type": "comment",
        "z": "1cdedf64f7c8196c",
        "name": "Set up a peripheral device",
        "info": "",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "efe7370f7ecf8e7e",
        "type": "Generic BLE in",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "genericBle": "b9d07ec6ea920b7c",
        "useString": false,
        "notification": true,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "8bc81b1d4ee44b3f"
            ]
        ]
    },
    {
        "id": "35e29d1dba3ff055",
        "type": "debug",
        "z": "1cdedf64f7c8196c",
        "name": "Received value",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 540,
        "wires": []
    },
    {
        "id": "60c942add018bc5c",
        "type": "inject",
        "z": "1cdedf64f7c8196c",
        "name": "Disonnect Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "disconnect",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 720,
        "wires": [
            [
                "efe7370f7ecf8e7e"
            ]
        ]
    },
    {
        "id": "fe8b30b3d9401a37",
        "type": "comment",
        "z": "1cdedf64f7c8196c",
        "name": "Disconnect a peripheral device",
        "info": "",
        "x": 190,
        "y": 680,
        "wires": []
    },
    {
        "id": "fe1a89f942d6bc30",
        "type": "buffer-parser",
        "z": "1cdedf64f7c8196c",
        "name": "Temperature parser",
        "data": "payload.characteristics.cba1d466344c4be3ab3f189f80dd7518",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatle",
                "name": "item1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "815f326c8ef16a6d"
            ]
        ]
    },
    {
        "id": "8bc81b1d4ee44b3f",
        "type": "switch",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "property": "payload.characteristics.cba1d466344c4be3ab3f189f80dd7518",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "buffer",
                "vt": "buffer"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 540,
        "wires": [
            [
                "fe1a89f942d6bc30",
                "f91801527ba81d7c"
            ],
            [
                "d4dcbace50bc4af1",
                "6a3a0ad880f51ef7"
            ]
        ]
    },
    {
        "id": "06b2bf130432c59d",
        "type": "ui_gauge",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "group": "f9aef8389e6127a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{msg.payload.item1}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1310,
        "y": 460,
        "wires": []
    },
    {
        "id": "79c68fe190f57b82",
        "type": "ui_gauge",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "group": "f9aef8389e6127a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "",
        "format": "{{msg.payload.item1}}",
        "min": "20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1300,
        "y": 620,
        "wires": []
    },
    {
        "id": "71a0de169688330b",
        "type": "ui_chart",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "group": "f9aef8389e6127a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "30",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1310,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "815f326c8ef16a6d",
        "type": "change",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.item1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 440,
        "wires": [
            [
                "f9ac13e2a2aae257"
            ]
        ]
    },
    {
        "id": "8c36b0295947bb09",
        "type": "function",
        "z": "1cdedf64f7c8196c",
        "name": "Temp notify",
        "func": "var connected = global.get(\"connected\");\nvar triggered = global.get(\"trigger\");\nif (connected){\n    msg.payload = { \"notify\": true, \"period\": 6000 };\n    msg.topic = \"cba1d466344c4be3ab3f189f80dd7518\";  \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 560,
        "wires": [
            [
                "6b1ea0aa21c8f20d"
            ]
        ]
    },
    {
        "id": "32c894bd5d0d5996",
        "type": "function",
        "z": "1cdedf64f7c8196c",
        "name": "Humidity notify",
        "func": "var connected = global.get(\"connected\");\nvar triggered = global.get(\"trigger\");\nif (connected) {\n    msg.payload = { \"notify\": true, \"period\": 6000 };\n    msg.topic = \"ca73b3ba39f64ab391ae186dc9577d99\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 600,
        "wires": [
            [
                "6b1ea0aa21c8f20d"
            ]
        ]
    },
    {
        "id": "f9ac13e2a2aae257",
        "type": "smooth",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "71a0de169688330b",
                "06b2bf130432c59d",
                "35e29d1dba3ff055"
            ]
        ]
    },
    {
        "id": "9f680198dc64ca2d",
        "type": "inject",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "props": [
            {
                "p": "trigger",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 480,
        "wires": [
            [
                "e5cd354dd8ee4b50",
                "ccb3dafb2ee9a000",
                "8c36b0295947bb09",
                "32c894bd5d0d5996"
            ]
        ]
    },
    {
        "id": "e5cd354dd8ee4b50",
        "type": "change",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0425522f80e509ac",
        "type": "inject",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "props": [
            {
                "p": "trigger",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 70,
        "y": 420,
        "wires": [
            [
                "89a7579cec6bce42",
                "ccb3dafb2ee9a000"
            ]
        ]
    },
    {
        "id": "89a7579cec6bce42",
        "type": "change",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "13da56967153b4f3",
        "type": "debug",
        "z": "1cdedf64f7c8196c",
        "name": "Trigger debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "ccb3dafb2ee9a000",
        "type": "function",
        "z": "1cdedf64f7c8196c",
        "name": "function 1",
        "func": "var trigger = msg.trigger;\nmsg.payload = trigger;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 440,
        "wires": [
            [
                "13da56967153b4f3"
            ]
        ]
    },
    {
        "id": "194510a2a3a8ef44",
        "type": "status",
        "z": "1cdedf64f7c8196c",
        "name": "ESP32 connection status",
        "scope": [
            "bd94655532876e7a"
        ],
        "x": 230,
        "y": 260,
        "wires": [
            [
                "08f7a1d062288901"
            ]
        ]
    },
    {
        "id": "08f7a1d062288901",
        "type": "function",
        "z": "1cdedf64f7c8196c",
        "name": "Change global connection",
        "func": "if (msg.status.text === \"generic-ble.status.connected\") {\n    global.set(\"connected\", true);\n}\nelse{\n    global.set(\"connected\", false);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "global.set(\"connected\", false);",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7bdae0ccf77c3d83",
        "type": "function",
        "z": "1cdedf64f7c8196c",
        "name": "function 3",
        "func": "\nmsg.payload = global.get(\"connected\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "711a325221b4be88"
            ]
        ]
    },
    {
        "id": "711a325221b4be88",
        "type": "debug",
        "z": "1cdedf64f7c8196c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "8ef2a3faa793ce60",
        "type": "inject",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "7bdae0ccf77c3d83"
            ]
        ]
    },
    {
        "id": "23a55416cf9ac582",
        "type": "ui_chart",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "group": "f9aef8389e6127a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "60",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "33817523a34f4fb9",
        "type": "smooth",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 1120,
        "y": 660,
        "wires": [
            [
                "79c68fe190f57b82",
                "23a55416cf9ac582",
                "35e29d1dba3ff055"
            ]
        ]
    },
    {
        "id": "d4dcbace50bc4af1",
        "type": "buffer-parser",
        "z": "1cdedf64f7c8196c",
        "name": "Humidity parser",
        "data": "payload.characteristics.ca73b3ba39f64ab391ae186dc9577d99",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatle",
                "name": "item1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "ba7d27c6eb1f9a1e"
            ]
        ]
    },
    {
        "id": "ba7d27c6eb1f9a1e",
        "type": "change",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.item1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 660,
        "wires": [
            [
                "33817523a34f4fb9"
            ]
        ]
    },
    {
        "id": "f91801527ba81d7c",
        "type": "debug",
        "z": "1cdedf64f7c8196c",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "6a3a0ad880f51ef7",
        "type": "debug",
        "z": "1cdedf64f7c8196c",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 580,
        "wires": []
    },
    {
        "id": "de726a254e058e3c",
        "type": "debug",
        "z": "1cdedf64f7c8196c",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "6b1ea0aa21c8f20d",
        "type": "switch",
        "z": "1cdedf64f7c8196c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 580,
        "wires": [
            [
                "efe7370f7ecf8e7e",
                "de726a254e058e3c"
            ]
        ]
    },
    {
        "id": "40bef42eb0c0ea06",
        "type": "status",
        "z": "1cdedf64f7c8196c",
        "name": "ESP32 connection status",
        "scope": [
            "bd94655532876e7a"
        ],
        "x": 110,
        "y": 140,
        "wires": [
            [
                "f02e7d90bed15911"
            ]
        ]
    },
    {
        "id": "f02e7d90bed15911",
        "type": "function",
        "z": "1cdedf64f7c8196c",
        "name": "Change global connection",
        "func": "if (msg.status.text === \"generic-ble.status.disconnected\") {\n    msg.payload = \"connect\";\n    msg.topic = \"connect\";\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "bd94655532876e7a"
            ]
        ]
    },
    {
        "id": "22ee5c9e.9aa894",
        "type": "Generic BLE",
        "localName": "Temp/Humidity",
        "address": "f0:08:d1:65:9c:0e",
        "uuid": "f008d1659c0e",
        "characteristics": []
    },
    {
        "id": "b9d07ec6ea920b7c",
        "type": "Generic BLE",
        "localName": "Temp/Humidity",
        "address": "f0:08:d1:65:9c:0e",
        "uuid": "f008d1659c0e",
        "characteristics": [
            {
                "uuid": "2a05",
                "name": "Service Changed",
                "type": "org.bluetooth.characteristic.gatt.service_changed",
                "notifiable": false,
                "readable": false,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "cba1d466344c4be3ab3f189f80dd7518",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "ca73b3ba39f64ab391ae186dc9577d99",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": false,
                "writeWithoutResponse": false
            }
        ]
    },
    {
        "id": "f9aef8389e6127a4",
        "type": "ui_group",
        "name": "Temp/humidity",
        "tab": "47b0f41dd2923874",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47b0f41dd2923874",
        "type": "ui_tab",
        "name": "Sensor dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]